.sz-16 {width: 16px; height: 16px}
.sz-17 {width: 17px; height: 17px}
.sz-18 {width: 18px; height: 18px}
.sz-19 {width: 19px; height: 19px}
.sz-20 {width: 20px; height: 20px}

.mgl-10 {margin-left: 10px;}
.mgl-20 {margin-left: 20px;}
.mgl-30 {margin-left: 30px;}
.mgl-40 {margin-left: 30px;}
.mgl-50 {margin-left: 30px;}

.mgr-10 {margin-right: 10px;}
.mgr-20 {margin-right: 20px;}
.mgr-30 {margin-right: 30px;}
.mgr-40 {margin-right: 40px;}
.mgr-50 {margin-right: 50px;}
.mgr-60 {margin-right: 60px;}
.mgr-70 {margin-right: 70px;}
.mgr-80 {margin-right: 80px;}
.mgr-90 {margin-right: 90px;}
.mgr-100 {margin-right: 100px;}

.mgt-10 {margin-top: 10px;}
.mgt-20 {margin-top: 20px;}
.mgt-30 {margin-top: 30px;}
.mgt-40 {margin-top: 40px;}
.mgt-50 {margin-top: 50px;}
.mgt-105 {margin-top: 105px;}

.mgb-10 {margin-bottom: 10px;}
.mgb-20 {margin-bottom: 20px;}
.mgb-30 {margin-bottom: 30px;}
.mgb-40 {margin-bottom: 40px;}
.mgb-50 {margin-bottom: 50px;}


