body.fixed-left .side-menu.left {
    bottom: 50px;
    height: 100%;
    margin-bottom: -70px;
    margin-top: 0;
    padding-bottom: 70px;
    position: fixed;
}

.header-color {background-color: #578fd4 !important;color: white !important;}

.search-box {background-color: black; width: 38px;height: 38px;color: white; text-align: center}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #111111 !important;
    font-size: 13px;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #111111 !important;
    font-size: 13px;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #111111 !important;
    font-size: 13px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #111111 !important;
    font-size: 13px;
}

.form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control:focus {
    border-color: #a2a2a2;
}
